/** PC端样式 **/
.web-style .label-row{clear: both;min-height:30px;padding-bottom: 10px;}
.web-style .label-font{color:#ff8a00;float:left;width:75px;}
.web-style .label-right{width: calc(100% - 75px);float: right;}
.web-style .label-font img{width:20px;height:20px;margin-right:5px;float:left;}
.web-style .red{color:red;}
.web-style .label-box{color:#666;display: inline-block;min-width:100px;margin:0px;padding: 0px;}
.web-style .split-line{display: none;}
.web-style .label-name{cursor: pointer;color:#999;display: inline-block;}
.web-style .label-box .label-name:hover{color:#09befe;}
.web-style .content-synthetical{min-height: 320px;padding-top:10px;border-top:1px solid #e5e5e5;clear: both;}
.web-style .content-sy-left{max-width:340px;min-height:320px;float: left;}
.web-style .sy-left-cont{width:100%;border:1px solid #e5e5e5;min-height:320px;margin-top:5px;}
.web-style .content-sy-right{width:calc(100% - 352px);min-width:340px;min-height:320px;float: right;}
.web-style .sy-right-cont{width:calc(100% - 20px);min-height:320px;padding: 0px 10px;border:1px solid #e5e5e5;margin-top:5px;}
.web-style .big-logo{width:100%;max-width: 800px;height:150px;margin-top:10px;clear: both;}
.web-style .big-logo img{width:100%;max-width:800px;height:150px;}
.web-style .content-type{clear: both;margin-top:10px;min-height:150px;border:1px solid #e5e5e5;}
.web-style .con-type-title{height:40px;line-height:40px;border-bottom: 1px solid #e5e5e5;}
.web-style .con-type-title div{width:calc(50%);float: left;text-indent: 1em;}
.web-style .con-type-title div:first-child{width:calc(50% - 1px);border-right:1px solid #e5e5e5;}
.web-style .con-type-row{min-height:120px;}
.web-style .con-type-row .con-type-row-left,.con-type-row .con-type-row-right{float: left;width:calc(50% - 10px);min-height:120px;margin-left:10px;cursor: pointer;}
.web-style .con-type-row .con-type-row-left:first-child{width:calc(50% - 11px);border-right:1px solid #e5e5e5;}
.web-style .con-type-row-img-box{margin-top:10px;width: 60px;height: 60px;}
.web-style .con-type-row-title-box{width:calc(100% - 85px);margin-left:10px;margin-top:5px;line-height:22px;}
.web-style .a-other{float: right;}
.web-style .external-link{margin-top:10px;padding-bottom:10px;}
.web-style .margin-top10{margin-top:10px;}
.web-style .sy-right-cont-row{width:100%;height:30px;line-height: 30px;border-bottom: 1px dashed #e5e5e5;}
.web-style .external-link .el-row{height:40px;line-height:40px;}
.web-style .el-link-box a{display: inline-block;margin: 0px 5px;}
.web-style .game-log{width:60px;height: 60px;border:1px solid #e5e5e5;border-radius: 10px;}
.web-style .rec-box{float:left;width:170px;height:130px;text-align: center;margin-top:15px;cursor: pointer;}
.web-style .rec-box img{width:100px;height:100px;border:1px solid #e5e5e5;border-radius: 12px;}
.web-style img.rec{width:20px;height:20px;float:left;margin-top:5px;margin-right:5px;}
.web-style .col-title{height:30px;line-height:30px;clear:both;}
.web-style .video-box{width:100%;}
.web-style .video-box video{width:calc(100% / 3 - 7px);max-width:100%;margin-left:10px;object-fit: fill;height:150px;max-height:100%;}
.web-style .video-box video:first-child{margin-left:0px;}
.web-style .game-img-box{width:100%;}
.web-style .game-img-box img{width:calc(100% / 3 - 7px);max-width:100%;margin-left:10px;max-height:100%;cursor: pointer;}
.web-style .game-img-box img:first-child{margin-left:0px;}

/** 移动端样式 **/
.m-style .label-row{clear: both;min-height:40px;margin-bottom: 10px;border-bottom:1px solid #e5e5e5;padding: 0px 0px 10px 0px;}
.m-style .label-font{color:#ff8a00;width:75px;height:21px;font-weight: bolder;}
.m-style .label-font span{display: none;}
.m-style .label-right{width: 100%;}
.m-style .label-font img{width:20px;height:20px;margin-right:5px;float:left;}
.m-style .red{color:red;}
.m-style .label-box{color:#666;display: inline-block;min-width:85px;text-align: center;margin:0px;padding: 0px;}
.m-style .split-line{display: none;}
.m-style .label-name{cursor: pointer;color:#999;display: inline-block;margin:0px;padding: 0px;}
.m-style .label-box .label-name:hover{color:#09befe;}
.m-style .content-synthetical{min-height: 320px;clear: both;}
.m-style .content-sy-left{width:100%;min-height:300px;}
.m-style .sy-left-cont{width:calc(100% - 2px);border:1px solid #e5e5e5;min-height:300px;margin-top:5px;}
.m-style .content-sy-right{width:100%;}
.m-style .sy-right-cont{width:calc(100% - 22px);padding: 0px 10px 5px 10px;border:1px solid #e5e5e5;margin-top:5px;}
.m-style .big-logo{width:100%;height:150px;margin:10px 0px;clear: both;}
.m-style .big-logo img{width:100%;height:150px;}
.m-style .content-type{clear: both;margin-top:10px;min-height:150px;border:1px solid #e5e5e5;}
.m-style .con-type-title{height:40px;line-height:40px;border-bottom: 1px solid #e5e5e5;}
.m-style .con-type-title div{width:calc(50%);float: left;text-indent: 1em;}
.m-style .con-type-title div:first-child{width:calc(50% - 1px);border-right:1px solid #e5e5e5;}
.m-style .con-type-row{min-height:120px;}
.m-style .con-type-row .con-type-row-left,.con-type-row .con-type-row-right{float: left;width:calc(50% - 10px);min-height:120px;margin-left:10px;cursor: pointer;}
.m-style .con-type-row .con-type-row-left:first-child{width:calc(50% - 10px);border-right:0px solid #e5e5e5;}
.m-style .con-type-row-img-box{margin-top:10px;width: 60px;height: 60px;}
.m-style .con-type-row-title-box{width:calc(100% - 85px);margin-left:10px;margin-top:5px;line-height:22px;}
.m-style .a-other{float: right;}
.m-style .external-link{margin-top:10px;padding-bottom:10px;}
.m-style .margin-top10{margin-top:10px;}
.m-style .sy-right-cont-row{width:100%;height:30px;line-height: 30px;border-bottom: 1px dashed #e5e5e5;}
.m-style .external-link .el-row{height:40px;line-height:40px;}
.m-style .el-link-box a{display: inline-block;margin: 0px 5px;}
.m-style .game-log{width:60px;height: 60px;border:1px solid #e5e5e5;border-radius: 10px;}
.m-style .rec-box{float:left;width:170px;height:130px;text-align: center;margin-top:15px;cursor: pointer;}
.m-style .rec-box img{width:100px;height:100px;border:1px solid #e5e5e5;border-radius: 12px;}
.m-style img.rec{width:20px;height:20px;float:left;margin-top:5px;margin-right:5px;}
.m-style .col-title{height:30px;line-height:30px;clear:both;margin-top:5px;}
.m-style .video-box{width:100%;}
.m-style .video-box video{width:100%;max-width:100%;object-fit: fill;}
.m-style .game-img-box{width:100%;}
.m-style .game-img-box img{width:100%;max-height:100%;}